<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Users</title>
</head>

<body>
    <p>LISTA DE USUARIOS</p>
    <!--Lista ordenada-->
    <p>Lista ordenada:</p>
    <ol>
        <li>Oscar Badilla</li>
        <li>Julio Pérez</li>
        <li>Mauricio Gonzalez</li>
        <li>Catalina Rojas</li>
    </ol>
    <!--Lista sin orden-->
    <p>Lista sin orden:</p>
    <ul>
        <li>papas = 1kg</li>
        <li>tomates = 1kg</li>
        <li>Una sandía</li>
        <li>2 melones</li>
    </ul>
</body>

</html>